In [112]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import math
dataV1= pd.read_csv(r"C:\Users\Rohit\Downloads\TrainingDatasetV3.csv",encoding = "latin1")
dataV1.head()

,Unnamed: 0,ID,Birth Year,Gender Flag,Skillset1,Skillset1 Weight,Skillset2,Skillset2 Weight,City of profile,Country of profile,...,Company,Company_Norm,Ticker,Exchange,Location,Industry,Layoff Date,Company Name,Employees Affected,laid_off
0,0,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,...,VMware,VMware,VMW,XNYS,"san francisco, ca",Computer Systems Design,3/12/2018,"VMware, Inc",159,0.0
1,1,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,Software Engineering,0.570285,Web Development,0.277136,San Ramon,United States,...,VMware,VMware,VMW,XNYS,"san francisco, ca",Computer Systems Design,3/28/2016,"VMware, Inc",170,0.0
2,11,a8dc3d34-5108-365a-9625-6711be684d92,1979,0,Software Engineering,0.949158,Electrical Engineering,0.033769,San Francisco,United States,...,Cisco Systems,Cisco Systems,CSCO,XNAS,NaN,Carrier equipment,1/17/2017,"Cisco Systems, Inc.",25,0.0
3,12,a8dc3d34-5108-365a-9625-6711be684d92,1979,0,Software Engineering,0.949158,Electrical Engineering,0.033769,San Francisco,United States,...,Cisco Systems,Cisco Systems,CSCO,XNAS,NaN,Carrier equipment,1/20/2016,"Cisco Systems, Inc.",123,0.0
4,13,a8dc3d34-5108-365a-9625-6711be684d92,1979,0,Software Engineering,0.949158,Electrical Engineering,0.033769,San Francisco,United States,...,Cisco Systems,Cisco Systems,CSCO,XNAS,NaN,Carrier equipment,10/10/2014,"Cisco Systems, Inc.",1005,0.0

(5657, 30)
(71254, 30)
Training data size after dropping excessive observations:  (11314, 30)

Exception ignored in: <function DMatrix.__del__ at 0x000001E9DCA58620>
Traceback (most recent call last):
  File "C:\Users\Rohit\Anaconda3\lib\site-packages\xgboost\core.py", line 482, in __del__
    if self.handle is not None:
AttributeError: 'DMatrix' object has no attribute 'handle'

In [82]:
X_test

,Unnamed: 0,Education,Employees Affected,s1-Administration,s1-Business Development,s1-Data Analysis,s1-Design,s1-Digital Marketing,s1-Electrical Engineering,"s1-Energy, Oil, and Gas",...,s2-Product Management,s2-Public Policy,s2-Real Estate,s2-Retail and Fashion,s2-Sales,s2-Social Media and Communications,s2-Software Engineering,s2-Video and Film Production,s2-Web Design,s2-Web Development
55358,76722,5,12,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
74380,102507,4,132,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
76588,105635,6,4,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
74822,103154,6,192,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
72593,99995,4,899,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71257,98073,4,240,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59045,81690,0,24,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
75442,104005,0,1005,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
71770,98815,5,60,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
64913,89198,0,250,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
72238,99487,0,899,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
73196,100831,4,1005,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
72843,100339,0,84,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7620,10974,6,899,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
50345,70233,0,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36139,51638,0,44,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75989,104782,4,77,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76830,105988,5,192,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22621,33406,0,441,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2529,3761,7,54,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15367,22735,5,123,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
72963,100511,4,93,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73916,101845,7,240,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2197,3097,0,54,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
42261,59675,6,54,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41590,58881,5,13,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74220,102284,5,310,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
68481,94068,6,250,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29106,42244,4,36,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57184,79327,5,83,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26556,38735,4,83,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75133,103577,0,296,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74197,102248,5,180,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
73930,101865,4,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
34578,49603,4,192,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73317,101002,4,6,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
52595,73092,6,95,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70059,96390,4,74,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
74407,102551,5,131,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
71843,98927,4,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72078,99274,0,4,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
31921,45865,0,1005,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76189,105073,4,9,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
73676,101502,4,165,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
74099,102108,4,7,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73728,101576,0,72,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72323,99597,4,55,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
72748,100207,5,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
71709,98730,4,74,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70630,97225,4,42,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
63624,87656,4,170,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
71998,99162,4,269,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
68690,94379,4,102,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28914,41964,5,132,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14836,21787,4,25,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
72642,100055,4,132,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
41842,59178,5,60,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
76251,105157,0,296,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
32736,46893,5,126,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17594,26031,4,80,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [113]:
# use one-hot encoding to encode skillsets
encodeSkill1 = pd.get_dummies(dataV1['Skillset1'], prefix = 's1', prefix_sep='-')
encodeSkill2 = pd.get_dummies(dataV1['Skillset2'], prefix = 's2', prefix_sep='-') 
dataV1 = dataV1.drop(['Skillset1','Skillset2'], axis = 1)
dataV1 = dataV1.join(encodeSkill1) 
dataV1 = dataV1.join(encodeSkill2)
dataV1.head()

,Unnamed: 0,ID,Birth Year,Gender Flag,Skillset1 Weight,Skillset2 Weight,City of profile,Country of profile,Education,Elite Institution,...,s2-Product Management,s2-Public Policy,s2-Real Estate,s2-Retail and Fashion,s2-Sales,s2-Social Media and Communications,s2-Software Engineering,s2-Video and Film Production,s2-Web Design,s2-Web Development
0,0,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,0.570285,0.277136,San Ramon,United States,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,6b89d91d-7b71-37fe-bb4c-0084018d63c0,2001,0,0.570285,0.277136,San Ramon,United States,0,0,...,0,0,0,0,0,0,0,0,0,1
2,11,a8dc3d34-5108-365a-9625-6711be684d92,1979,0,0.949158,0.033769,San Francisco,United States,4,0,...,0,0,0,0,0,0,0,0,0,0
3,12,a8dc3d34-5108-365a-9625-6711be684d92,1979,0,0.949158,0.033769,San Francisco,United States,4,0,...,0,0,0,0,0,0,0,0,0,0
4,13,a8dc3d34-5108-365a-9625-6711be684d92,1979,0,0.949158,0.033769,San Francisco,United States,4,0,...,0,0,0,0,0,0,0,0,0,0

In [114]:
not_laid_off = dataV1[dataV1['laid_off'] == 0]
laid_off = dataV1[dataV1['laid_off'] == 1]
print(len(not_laid_off)) # Too many observations classified as not laid off
print(len(laid_off))

np.random.seed(101)
drop_indices = np.random.choice(not_laid_off.index, 65000, replace=False)
not_laid_off = not_laid_off.drop(drop_indices)

dataV1 = pd.concat([not_laid_off, laid_off])
print('Training data size after dropping excessive observations: ', dataV1.shape)

71254
5657
Training data size after dropping excessive observations:  (11911, 92)

In [115]:
dataV1 = dataV1.dropna(subset=['laid_off'])

In [116]:
dataV1 = dataV1[dataV1['Birth Year' ]!= 'None']
dataV1['Birth Year'] = dataV1['Birth Year'].astype(float) #Convert from string to float to work for regression

dataV1 = dataV1.dropna(subset=['Length'])

Exception ignored in: <function DMatrix.__del__ at 0x000001E9DCA58620>
Traceback (most recent call last):
  File "C:\Users\Rohit\Anaconda3\lib\site-packages\xgboost\core.py", line 482, in __del__
    if self.handle is not None:
AttributeError: 'DMatrix' object has no attribute 'handle'

In [117]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
y = dataV1['laid_off']
X = dataV1.drop(['Unnamed: 0', 'ID',
       'City of profile', 'Country of profile','Elite Institution',
       'Start Date', 'StartFlag', 'End Date',
       'EndFlag', 'CurrentEmployFlag', 'laid_off', 'Role', 'Dept', 'Company',
       'Company_Norm', 'Ticker', 'Exchange','Location',
       'Industry','Layoff Date', 'Company Name'],axis = 1)

In [133]:
#Using Grid Search to find best hyperparameters
#Using Stratified cross-validation to split dataset

params={"learning_rate"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ] ,
 "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ] }

import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from datetime import datetime
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedKFold
from xgboost import XGBClassifier


def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))




xgb = XGBClassifier(learning_rate=0.02, n_estimators=600, objective='binary:logistic',
                    silent=True, nthread=1)


folds = 3
param_comb = 5

skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)

random_search = RandomizedSearchCV(xgb, param_distributions=params, n_iter=param_comb, scoring='roc_auc', n_jobs=4, cv=skf.split(X,y), verbose=3, random_state=1001 )

# Here we go
start_time = timer(None) # timing starts from this point for "start_time" variable
random_search.fit(X, y)
timer(start_time) # timing ends here for "start_time" variable

Fitting 3 folds for each of 5 candidates, totalling 15 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  15 out of  15 | elapsed:  1.5min finished

 Time taken: 0 hours 2 minutes and 3.57 seconds.

Accuracy: 72.99%

In [134]:
print('\n All results:')
print(random_search.cv_results_)
print('\n Best estimator:')
print(random_search.best_estimator_)
print('\n Best normalized gini score for %d-fold search with %d parameter combinations:' % (folds, param_comb))
print(random_search.best_score_ * 2 - 1)
print('\n Best hyperparameters:')
print(random_search.best_params_)
results = pd.DataFrame(random_search.cv_results_)
results.to_csv('xgb-random-grid-search-results-01.csv', index=False)

 All results:
{'mean_fit_time': array([16.33223724, 13.92055527, 26.94789267, 21.86583837, 15.94900902]), 'std_fit_time': array([0.04129583, 0.15359905, 0.30691919, 0.71250279, 1.29694164]), 'mean_score_time': array([0.29428315, 0.23521582, 0.86020358, 0.68577846, 0.26397308]), 'std_score_time': array([0.0085299 , 0.0157776 , 0.04470098, 0.02686212, 0.02464684]), 'param_min_child_weight': masked_array(data=[3, 3, 3, 5, 5],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[6, 5, 15, 15, 6],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_learning_rate': masked_array(data=[0.1, 0.15, 0.1, 0.15, 0.25],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_gamma': masked_array(data=[0.0, 0.0, 0.1, 0.1, 0.3],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_colsample_bytree': masked_array(data=[0.7, 0.7, 0.4, 0.3, 0.7],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'min_child_weight': 3, 'max_depth': 6, 'learning_rate': 0.1, 'gamma': 0.0, 'colsample_bytree': 0.7}, {'min_child_weight': 3, 'max_depth': 5, 'learning_rate': 0.15, 'gamma': 0.0, 'colsample_bytree': 0.7}, {'min_child_weight': 3, 'max_depth': 15, 'learning_rate': 0.1, 'gamma': 0.1, 'colsample_bytree': 0.4}, {'min_child_weight': 5, 'max_depth': 15, 'learning_rate': 0.15, 'gamma': 0.1, 'colsample_bytree': 0.3}, {'min_child_weight': 5, 'max_depth': 6, 'learning_rate': 0.25, 'gamma': 0.3, 'colsample_bytree': 0.7}], 'split0_test_score': array([0.77770967, 0.77530827, 0.78801631, 0.7810285 , 0.77080103]), 'split1_test_score': array([0.76829564, 0.76663082, 0.78059486, 0.77981768, 0.76605818]), 'split2_test_score': array([0.76744566, 0.76664316, 0.78535412, 0.77842129, 0.76698949]), 'mean_test_score': array([0.77115032, 0.76952742, 0.7846551 , 0.77975583, 0.76794957]), 'std_test_score': array([0.00465112, 0.00408769, 0.00306985, 0.00106529, 0.00205182]), 'rank_test_score': array([3, 4, 1, 2, 5]), 'split0_train_score': array([0.98907042, 0.98606135, 0.99999354, 0.99985111, 0.99655911]), 'split1_train_score': array([0.98697392, 0.98381839, 0.99998053, 0.99985172, 0.99817308]), 'split2_train_score': array([0.98573803, 0.98475033, 0.99997757, 0.99985621, 0.99649149]), 'mean_train_score': array([0.98726079, 0.98487669, 0.99998388, 0.99985301, 0.99707456]), 'std_train_score': array([1.37548083e-03, 9.20034953e-04, 6.93853983e-06, 2.27097037e-06,
       7.77263982e-04])}

 Best estimator:
XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.4, gamma=0.1, learning_rate=0.1,
       max_delta_step=0, max_depth=15, min_child_weight=3, missing=None,
       n_estimators=600, n_jobs=1, nthread=1, objective='binary:logistic',
       random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)

 Best normalized gini score for 3-fold search with 5 parameter combinations:
0.569310192091316

 Best hyperparameters:
{'min_child_weight': 3, 'max_depth': 15, 'learning_rate': 0.1, 'gamma': 0.1, 'colsample_bytree': 0.4}

In [152]:
print("Best hyperparameters are:")
print(random_search.best_params_)

print("Best score corresponding to best hyperparameters")
print(random_search.best_score_)

Best hyperparameters are:
{'min_child_weight': 3, 'max_depth': 15, 'learning_rate': 0.1, 'gamma': 0.1, 'colsample_bytree': 0.4}
Best score corresponding to best hyperparameters
0.784655096045658

SyntaxError: invalid syntax (<ipython-input-130-9e331ab89f1f>, line 1)